In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
from splinter import Browser
import warnings
warnings.filterwarnings('ignore')
print('Libraries imported!')

Libraries imported!

In [2]:
url = 'https://geocoder.ca/?locate='
postalCode = 'T2L+0C9'
page = requests.get(url+postalCode)
soup = BeautifulSoup(page.text, "html.parser")
#print(soup.prettify())

In [3]:
tables = pd.read_html(url+postalCode)
table_df = tables[1]
table_df.head()

,0,1
0,Dissemination Area Data for T2L0C9 | Demograph...,"51.091844, -114.126368 Neighborhood of Charles..."

In [4]:
title = soup.find('li', class_='pull-right').get_text()
print(title)

 51.091844,-114.126368

In [5]:
csvData = pd.read_csv('data/score_df.csv')
csvData.head()

  postal_code  walk_score  bike_score  transit_score
0     T2V 1M4        58.0        61.0           55.0
1     T2V 2G9        57.0        75.0           57.0
2     T2T 4L7        38.0        82.0           38.0
3     T2G 1M1        64.0        78.0           49.0
4     T3H 5Y7        65.0        89.0           40.0

In [6]:
csvDataPC = csvData['postal_code']
csvDataPC.head()

0    T2V 1M4
1    T2V 2G9
2    T2T 4L7
3    T2G 1M1
4    T3H 5Y7
Name: postal_code, dtype: object

In [7]:
csvDataPC = csvDataPC.str.replace(' ', '+')
testCSV = csvDataPC.head(20)

In [8]:
coordinates = []
postalCodes = []
for i in testCSV:
    url = 'https://geocoder.ca/?locate='
    page = requests.get(url+str(i))
    time.sleep(2)
    soup = BeautifulSoup(page.text, "html.parser")
    try:
        title = soup.find('li', class_='pull-right').get_text()
    except:
        title = 'None'
    coordinates.append(title)
    postalCodes.append(i)

In [16]:
coordinatesDF = pd.DataFrame(coordinates, postalCodes)
coordinatesDF.reset_index(inplace=True)

In [18]:
coordinatesDF.columns=['postal_codes', 'coordinates']
coordinatesDF

   postal_codes             coordinates
0       T2V+1M4   50.967013,-114.084990
1       T2V+2G9   50.989524,-114.074253
2       T2T+4L7   51.013395,-114.101767
3       T2G+1M1   51.036103,-114.038056
4       T3H+5Y7   51.044200,-114.216072
5       T3K+5R2   51.171544,-114.046531
6       T3J+3X7   51.121845,-113.965654
7       T2Y+4Z4   50.908350,-114.124899
8       T2W+2T6   50.952986,-114.086731
9       T3L+2M1   51.118802,-114.261290
10      T2N+1Z8   51.055203,-114.094886
11      T2C+0S9   50.988974,-114.008638
12      T3E+6S4   51.012788,-114.162763
13      T3L+2M2   51.132739,-114.239522
14      T2Z+5B3   50.916939,-113.916353
15      T2Z+0M9   50.922932,-113.964139
16      T3M+1N7   50.904309,-113.923056
17      T2Z+2J4   50.943580,-114.008417
18      T3M+0R9   50.892676,-113.960322
19      T2S+3B6   51.031187,-114.062424